body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}

.text-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-text {
    color: white;
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    text-align: center;
}

.sub-text {
    color: white;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}


.corner-text {
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    top: 0;
    left: 90%;
}

.redirect {
    text-decoration: underline;
}

.background > div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    grid-auto-rows: 40px;
    gap: 0;
}

@media (max-width: 768px) {
    .main-text {
        font-size: 5rem;
    }
    .sub-text {
        font-size: 2rem;
    }
}

/* For even smaller screens, adjust the offset as needed */
@media (max-width: 480px) {
    .main-text {
        margin-left: 1.25rem;
    }

    .sub-text {
        margin-left: 0.5rem;
    }
}