body {
    background-color: black;
    margin: 0;
}

.text-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-text {
    color: white;
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    text-align: center;
}

.sub-text {
    color: white;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 768px) {
    .main-text {
        font-size: 5rem;
        margin-bottom: 0.1rem;
    }
    .sub-text {
        font-size: 2rem;
    }
}